@charset "UTF-8";
/* COMPONENTES */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
}

/* HEADER */
/* LOGOS HEADER */
.logojordan {
  width: 22px;
  height: 22px;
  margin-left: 60px;
}

.logonike {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
}

/* FIN LOGOS HEADER */
.sectiondeheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
}

.prenavbaropciones {
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: black;
  text-decoration: none;
}

.slidernavbar {
  background-color: #F5F5F5;
  color: black;
}

.sliderops {
  color: black;
  font-style: none;
}

.nav-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;
}

.segundoul {
  display: flex;
  justify-content: center;
}

.navbaropciones {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 10px;
}

.icon-nav {
  display: flex;
  justify-content: flex-end;
}

.icon-nav li {
  margin: 0 5px;
}

.imagen-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagensanlorenzo {
  width: 1200px;
  height: 575px;
}

.textosdebajodeimagenes {
  text-align: center;
}

.textosdebajodeimagenes p {
  display: block;
  margin-bottom: 10px;
}

.botonesnegros {
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  margin: 5px 5px 20px 5px;
  background-color: #111111;
  border-radius: 40em;
  border: none;
  font-size: 14px;
}

.imagenairforce {
  width: 1700px;
  height: auto;
}

.imagen-airforce-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-bajo-img-air-force {
  display: block;
  text-align: center;
}

.botones-nuevo-nike {
  display: flex;
  justify-content: flex-end;
}

.botongris {
  border-radius: 100%;
  margin: 0px 7px 10px 0px;
  padding: 10px 15px 10px 15px;
  border: none;
  background-color: #B7B7B7;
  font-size: 20px;
}

.carrousel-01 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.imagenescarrousel {
  width: 400px;
}

.txt-carrousel-01, a {
  text-decoration: none;
  color: #000000;
}

.lo-nuevo {
  color: #FB7633;
}

.descripciones-txt-gris {
  color: #757575;
}

.div-2img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.imagenes-div2 {
  width: 900px;
  height: auto;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.img-banner {
  width: auto;
  height: 605px;
}

.section-3img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px 10px 20px;
}

.button-section3 {
  padding: 10px 20px 10px 20px;
  color: #000000;
  background-color: #9e9e9e;
  border-radius: 40em;
  border: none;
  font-size: 14px;
}

.center-text {
  display: flex;
  justify-content: center;
}

.grid-0 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.grid-01-iconos {
  grid-area: 1/1/4/2;
}

.grid-02-calzado {
  grid-area: 1/2/4/3;
}

.grid-03-ropa {
  grid-area: 1/3/4/4;
}

.grid-04-niño {
  grid-area: 1/4/4/5;
}

.grid-0 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px 15px 55px 15px;
  gap: 0 90px;
}

.footer {
  background-color: #111111;
}

.textosgrandesfooter {
  color: white;
}

.ulfooter {
  color: #7E7E7E;
}

.whiteulfooter {
  color: white;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.hijo1 {
  grid-area: 1/1/3/2;
}

.hijo2 {
  grid-area: 1/2/3/3;
}

.hijo3 {
  grid-area: 1/3/3/4;
}

.hijo4 {
  grid-area: 1/4/3/5;
}

.hijo5 {
  grid-area: 1/5/3/6;
}

.hijo6 {
  grid-area: 1/6/3/7;
}

.itemsfooter {
  margin-top: 40px;
}

.sid {
  width: 120px;
  height: auto;
}

.sidqr {
  width: 40px;
  height: auto;
}

.logo {
  width: 40px;
  height: auto;
  align-items: center;
}

.bajofooter {
  border-top: 1px solid #1d1e1e;
}

.textoargentina {
  color: white;
  text-decoration: none;
}

.textosbajofootergeneral {
  font-size: 12px;
  color: #7E7E7E;
  display: flex;
  justify-content: space-between;
}

.ubicacionicon {
  width: 10px;
  margin-right: 5px;
  height: 18px;
}

/*# sourceMappingURL=style.css.map */
