/* HEADER */

/* LOGOS HEADER */
.logojordan {
    width: 22px;
    height: 22px;
    margin-left: 60px;
}

.logonike {
    width: 70px;
    height: 70px;
    margin-left: 63px;
}
/* FIN LOGOS HEADER */

.sectiondeheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
}

.prenavbaropciones {
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black; 
    text-decoration: none; 
}


.slidernavbar {
    background-color: #F5F5F5;
    color: black;
}

.sliderops {
    color: black;
    font-style: none;
}

.segundoul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
}

.navbaropciones {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.imagensanlorenzo {
    width: 1332px;
    height: 575px;
    display: flex;
    justify-content: center;
    margin-left: 200px ;
}

.textosdebajodeimagenes {
    color: black;
    display: flex;
    justify-content: center;
}

.botonesnegros {
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
    background-color: #111111;
    border-radius: 40em;
    border: none;
    font-size: 14px;
}

.imagenairforce {
    width: 1700px;
    height: auto;
}
