/* HEADER */

/* LOGOS HEADER */
.logojordan {
    width: 22px;
    height: 22px;
    margin-left: 60px;
}

.logonike {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
}
/* FIN LOGOS HEADER */

.sectiondeheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
}

// PRE NAV 
.prenavbaropciones {
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black; 
    text-decoration: none; 
}
// FIN PRE NAV
// SLIDER
.slidernavbar {
    background-color: #F5F5F5;
    color: black;
}

.sliderops {
    color: black;
    font-style: none;
}
// FIN SLIDER

// NAVBAR
.nav-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.segundoul {
    display: flex;
    justify-content: center;
}

.navbaropciones {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px; 
}

.icon-nav {
    display: flex;
    justify-content: flex-end;
}

.icon-nav li {
    margin: 0 5px;
}

// FIN NAVBAR 
// IMAGEN SAN LORENZO
.imagen-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagensanlorenzo {
    width: 1200px;
    height: 575px;
}
// FIN IMG SAN LORENZO
// BOTONES Y OTRA IMAGEN

.textosdebajodeimagenes {
    text-align: center;
  }
  
.textosdebajodeimagenes p {
    display: block; 
    margin-bottom: 10px;
  }
  

.botonesnegros {
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
    margin: 5px 5px 20px 5px;
    background-color: #111111;
    border-radius: 40em;
    border: none;
    font-size: 14px;
}

.imagenairforce {
    width: 1700px;
    height: auto;
}

.imagen-airforce-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-bajo-img-air-force {
    display: block;
    text-align: center;
}

.botones-nuevo-nike {
    display: flex;
    justify-content: flex-end;
}

.botongris {
    border-radius: 100%;
    margin: 0px 7px 10px 0px;
    padding: 10px 15px 10px 15px;
    border: none;
    background-color: #B7B7B7;
    font-size: 20px;
}

// FIN BOTONES Y IMG
// CARROUSEL 01 INICIO
.carrousel-01 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.imagenescarrousel {
    width: 400px;
}

.txt-carrousel-01, a { //OJO CON ESTA A Q ME MODIFICA TODO
    text-decoration: none;
    color: #000000;
}

.lo-nuevo {
    color: #FB7633;
}

.descripciones-txt-gris {
    color: #757575;
}

//CARROUSEL 01 FIN
//INICIO 2 IMAGENES BAJO CARROUSEL
.div-2img {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

.imagenes-div2 {
    width: 900px;
    height: auto;
}

// FIN 2 IMG ABAJO DEL CARROUSEL 

//BANNER 01
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.img-banner {
    width: auto;
    height: 605px;
}

//FIN BANNER

//DIV 3 FOTITOS FALTA

.section-3img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

.button-section3 {
    padding: 10px 20px 10px 20px;
    color: #000000;
    background-color: #9e9e9e;
    border-radius: 40em;
    border: none;
    font-size: 14px;
}

// TXT CENTRADO DE LAS IMAGENES DEPORTIVAS 
.center-text {
    display: flex;
    justify-content: center;
}
// FIN TXT CENTRADO
//GRID PRE FOOTER 

.grid-0 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    }
    
    .grid-01-iconos { grid-area: 1 / 1 / 4 / 2; }
    .grid-02-calzado { grid-area: 1 / 2 / 4 / 3; }
    .grid-03-ropa { grid-area: 1 / 3 / 4 / 4; }
    .grid-04-niño { grid-area: 1 / 4 / 4 / 5; }

.grid-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px 15px 55px 15px;
    gap: 0 90px;
}

//FIN GRID PRE FOOTER